@import url(http://fonts.googleapis.com/css?family=Raleway:800,400,300);

body {
   font-size: 18px;
	font-family: 'Raleway', sans-serif;
	text-align: center;   
}


h1 { font-size: 4em; 
margin: 0;}
h2 { font-size: 3em; }

#months {
	margin: auto;
	width: 70%;
	box-sizing: border-box;
	text-align: center;
}

table {
	margin: auto;
	font-size: 12px;
	text-align: center;
}

tr {
	height: 30px;
	border: 1px solid red;
}

td {
	width: 30px;
}

#monthDiv {
	box-sizing: border-box;
	width: 70%;
	margin: 50px auto 0 auto;
	padding: 0 0 20px 0;
}

.monthTable {
	width: 100%;
}

#monthLabel {
	font-weight: 800;
	font-size: 3em;
	float: right;
	width: 50%;
	vertical-align: middle;
}

#monthTableDiv {
	float: left;
	width: 50%;
	margin: 0;
}

.month:hover {
	cursor: pointer;
}

.monday {
	background-color: rgba(27, 188, 155, 0.1);
}

.tuesday {
	background-color: rgba(27, 188, 155, 0.3);
}

.wednesday {
	background-color: rgba(27, 188, 155, 0.4);
}

.thursday {
	background-color: rgba(27, 188, 155, 0.6);
}

.friday {
	background-color: rgba(27, 188, 155, 0.7);
}

.saturday {
	background-color: rgba(27, 188, 155, 0.8);
}

.sunday {
	background-color: rgba(27, 188, 155, 1);
}

@media screen and (max-width: 700px) {
	td.day {
		display: none;
	}

	#monthLabel, #monthTableDiv {
		display: block;
		width: 100%;
	}
	#monthDiv {
		margin-top: 20px;
	}
	#monthTableDiv {
		margin: 30px 0;
	}
}
