@media screen and (min-width: 700px) {
	#monthTableDiv {
		float: left;
		margin: 0;
	}

	#monthDiv {
		margin: 30px auto 0 auto;
		width: 70%;
	}

	td.day {
		display: block;
	}

	#monthLabel {
		text-align: center;
	}

	#monthLabel {
		width: 40%;
		margin-top: 50px;
	}

	#monthTableDiv {
		width: 60%;
	}
}